#wrap{
    width: 1000px;
    height: 800px;
    margin: auto;
    }

header{
    width: 1000px;
    height: 100px;

}    

.banner1{

    width: 200px;
    height: 100px;

}

.banner2{
    width: 600px;
    height: 100px;

    }

.banner3{
    width: 200px;
    height: 100px;

    }

.border{

    width: 1000px;
    height: 500px;
    }    

.border2{
    width: 250px;
    height: 350px;
}

.side-banner{
    width: 100px;
    height: 600px;
}