/*@import url(../../common.CSS);*/

#wrap{
    width: 1000px;
    height: 900px;
    background-color: gray;
    margin: auto;
    
}


.main{
    width: 852px;
    text-align: center;
    background-color:darkslateblue;
    padding: 25px;
    margin-left: 50px;
    font-family: sans-serif;
    
    
}

strong{
    color: white;
    font-size: 4em;
    font-weight: bold;
}
span{
    color: yellow;
    font-weight: bold;
}

.text1{
    font-size: 2em;
    font-weight: bold;
}

em{
    font-size: 3em;
    color: #ccc;
    font-weight: bold;
}

.menu{
    width: 200px;
    height: 600px;
    float: left;
    background-color:#ccc; 
    margin-left: 50px;
    
}

a:hover{
    color: blue;
    border-bottom: 2px dashed;
    text-decoration: none;
}

.content{
    width: 700px;
    height: 600px;
    background-color: white;
    float: left;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

li{
    
    margin: 10px;
    padding: 10px;
}

a{
    color: black;
}

h2{
    width: 682px;
    height: 30px;
    background-color: brown;
    font-weight: bold;
    font-size: 26px;
    padding: 10px;
    text-align: start;
    padding-left: 10px;
    color: yellow;
    font-family: '궁서체', sans-serif;

}

p{
    padding: 20px;
    line-height: 1.5em;
    text-align: justify;
    
    
}

footer{
    background-color: darkgrey;
    width: 900px;
    height: 50px;
    margin-left: 50px;
    text-align: start;
}

address{
    padding: 15px;
}